<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>简帛管理平台</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script src="https://cdn.bootcss.com/rollbar.js/2.4.0/rollbar.min.js"></script>
  <script src="https://gw.alipayobjects.com/os/antv/assets/data-set/0.8.7/data-set.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="135ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="135ueditor/third-party/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="135ueditor/ueditor.all.min.js"></script>
  <script type="text/javascript" charset="gbk"   src="135ueditor/lang/zh-cn/zh-cn.js"></script>
  <script type="text/javascript" charset="utf-8" src="135ueditor/a92d301d77.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
